<template>
    <el-menu-item style="padding: 0px;">
    <span style="margin-left:2rem;">{{ props.leiming }}</span>
    <el-button plain link icon="delete" class="menuDelete" text @click="open"></el-button>
    </el-menu-item>
</template>

<script setup>
import { defineProps } from 'vue';
import { useCategoryStore } from '../stores/index'
import { ElMessage, ElMessageBox } from 'element-plus'

const store = useCategoryStore()
const props=defineProps({
    leiming:{type:String},
    index:{type:Number}
})
//删除分类
const open = () => {
  ElMessageBox.confirm(
    '您是否要删除该分类?',
    'Warning',
    {
      confirmButtonText: 'Yes',
      cancelButtonText: 'Cancel',
      type: 'warning',
    }
  )
    .then(() => {
      ElMessage({
        type: 'success',
        message: 'Delete completed',
      })
      deleteClass(props.index)
    })
    .catch(() => {
      ElMessage({
        type: 'info',
        message: 'Delete canceled',
      })
    })
}
//删除分类的具体实现
function deleteClass(index){
    for(let i=0;i<store.classLists.classes.length;i++)
    {
        if(i===index){
            store.deleteClass(index);
            break;
        }
    }
}

</script>

<style scoped>
    .menuDelete{ 
    margin-left: auto;
}
</style>