<template>
    <!--主页左侧边栏---->
    <el-col :span="3" class="sidebar">
        <!--“云端笔记”名称-->
        <div class="title">
            <span id="name"><MostlyCloudy style="height:1.5rem;width: auto;"/>云端笔记 </span>
        </div>
        <!--状态1-->
        <el-menu
            v-show="!isShow"
            class="height100vh"
            background-color="#f7f7f7"
            default-active=null
            text-color="#000"
            @open="handleOpen"
            @close="handleClose"
        >
            <el-sub-menu class="menuOne">
                <template #title>
                    <el-icon><location /></el-icon>
                    <span>笔记分类</span>
                    <el-icon style="margin-right: 2rem;" size="15px" @click.stop="addClass"><Plus /></el-icon>
                </template>
                <div style="background-color: #fff;">
                    <ul>
                        <className 
                        v-for="(value,index) in store.classLists.classes" :key="index"
                        :leiming="value"
                        :index="index"
                        />
                    </ul>
                </div>
            </el-sub-menu>
        </el-menu>
        <!--状态2-->
        <el-menu
            v-show="isShow"
            active-color="#4080ff"
            background-color="#304B77"
            class="el-menu-vertical-demo height100vh"
            default-active=null
            text-color="#fff"
            :collapse-transition="false"
        >
            <el-menu-item index="1">
                <el-icon><House/></el-icon>
                <span>首页</span>
            </el-menu-item>
            <el-sub-menu index="2">
                <template #title>
                    <el-icon><Message/></el-icon>
                    <span>笔记管理</span>
                </template>
                <!--点击我的笔记显示状态1，隐藏状态2 ，同时要让mainPart显示笔记详细信息页面--->
                <router-link to="/home/mainPart"><el-menu-item index="1-1" @click="openMyNote">我的笔记</el-menu-item></router-link>
            </el-sub-menu>
        </el-menu>
        
    </el-col>
</template>
<script setup>
    import className from './className.vue';
    import { ElMessage, ElMessageBox } from 'element-plus'
    import {ref} from 'vue'
    import { useCategoryStore } from "../stores/index"
    
    const store =useCategoryStore();
    //控制状态的显示变量
    const isShow=ref(true)

    //添加分类
    const addClass = () => {
    ElMessageBox.prompt('分类名称', '新建分类', {
        confirmButtonText: '创建',
        cancelButtonText: '取消',
    })
    
        .then(({ value }) => {
        ElMessage({
            type: 'success',
            message: `成功创建分类:${value}`,
        });
        store.addClass1(value)
        })
        .catch(() => {
        ElMessage({
            type: 'info',
            message: '取消新建分类',
        })
        });
    }
    //切换状态1.2
    const openMyNote=()=>{
        isShow.value=false
    }   
</script>
<style scoped>
a{
    text-decoration: none;
    color: #fff;
}
.title{
    display: flex;
    background-color: #304B77;
    height: 50px;
    width:auto;
    border-bottom: 1px solid #fff;
}
#name{
    width:90%;
    display: flex;
    color:white;
    justify-content: center;
    margin: auto;
}
.el-menu-vertical-demo:not(.el-menu-collapse){
    min-height: 400px;
}
.height100vh{
    height: 100vh;
}


</style>