<template>
  <el-row :span="24" class="homePage">
      <homeSidebar></homeSidebar>
      <router-view></router-view>
    </el-row>
</template>

<script setup>
    import homeSidebar from './homeSidebar.vue';
</script>

<style>
    .homePage{
      justify-content: space-between;
    }
</style>