<template>
  <div class="background">
    <form action="#" class="login-form">
        <div class="login-form">
          <div class="form-head">云端笔记</div>
          <div class="input-div">
            <el-icon color="#B9B9B9" class="image-id"><User /></el-icon>
            <input type="text" class="form-input" placeholder="账号" v-model="user.userID">
          </div>
          <div class="input-div" style="top:190px;" >
            <el-icon color="#B9B9B9" class="image-id"><Key /></el-icon>
            <input type="password" class="form-input" placeholder="密码" v-model="user.userPassword">
          </div>
          <div class="register">没有账号？<router-link to="/register" >立即注册</router-link></div>
          <button type="submit" class="button-register" @click="enter">登陆</button>
        </div>
      </form>
    </div>
</template>

<script setup>
import {reactive} from 'vue'
import { useRouter } from 'vue-router';

    const router = useRouter();
    const user=reactive({
      userID :"",
      userPassword:"",
  })
  function enter(){
    if(1){
      router.push('/home')
    }
  }

</script>

<style scoped>
.background{
  height: 100vh; /* 让容器铺满整个视口 */
  background-image: url('../components/icons/background.jpg');
  background-size: cover;
  background-position: center;
}
.login-form{
  position:relative;
  left: 50%;
  top: 50%;
  transform: translate(-277px,-230px);
  width: 553px;
  height: 461px;
  line-height: 20px;
  border-radius: 17px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  border: 1px solid rgba(187, 187, 187, 1);
}
.login-form .form-head{
  position:absolute;
  left: 50%;
  top: 35px;
  transform: translate(-56px,0);
  width: 112px;
  height: 41px;
  color: rgba(166, 153, 153, 1);
  font-size: 28px;
  text-align: left;
  font-family: SourceHanSansSC-regular;
}
.input-div{
  position: absolute;
  left:50%;
  top:102px;
  transform: translate(-216px,0);
  width: 433px;
  height: 53px;
}
.image-id{
  position: absolute;
  left: 19px;
  top: 14px;
  width: 24px;
  height: 24px;
}
.form-input{
  width: 433px;
  height: 53px;
  padding-left: 48px;
  border-radius: 3px;
  color: rgba(193, 194, 197, 1);
  font-size: 20px;
  text-align: left;
  font-family: Roboto;
  border: 1px solid rgba(174, 175, 176, 1);
}
.form-input:focus{
  outline: none;
}
.register{
  position: absolute;
  left:58px;
  top:276px;
  width: 162px;
  height: 26px;
  color: rgba(16, 16, 16, 1);
  font-size: 18px;
  text-align: left;
  font-family: SourceHanSansSC-regular;
}
.button-register{
  position: absolute;
  left: 50%;
  top:335px;
  transform: translate(-216px,0);
  width: 433px;
  height: 53px;
  line-height: 29px;
  border-radius: 3px;
  background-color: rgba(56, 148, 255, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  text-align: center;
  font-family: Roboto;
  border: 1px solid rgba(56, 148, 255, 1);
  cursor: pointer;
}
</style>