<template>
    <!--主页主体部分-->
    <el-col :span="21" style="height: 100vh;">
        <!--头部导航条-->
        <div class="headerNav">
            <!--右端退出下拉栏按钮-->
            <el-dropdown trigger="click" style="margin-left: auto;margin-top:20px;">
                <span class="el-dropdown-link">
                    <el-icon style="height: 10px ;width: auto;" size="22px"><User /></el-icon>
                    <el-icon class="el-icon--right" size="22px"><arrow-down/></el-icon>
                </span>
                <template #dropdown>
                    <el-dropdown-menu>
                        <el-dropdown-item><router-link to="/">退出登录</router-link></el-dropdown-item>
                    </el-dropdown-menu>
                </template>
            </el-dropdown>
        </div>
        <!--笔记详细信息页面-->
        <!--搜索框-->
        <el-row gutter="20" class="searchBoxWrap" v-show="true">
            <span style="margin-left: 50px;width: 40px;display: inline-flex;align-items: center;">标题</span>
            <el-col :span="4">
                <el-input 
                    class="searchInput"
                    v-model="input1"
                    size="large"
                    placeholder="请输入内容"
                />
            </el-col>
            <el-button
                class="searchButton" 
                type="primary" 
                icon="search"
            >搜索</el-button>
        </el-row>
        <!--一排按钮-->
        <el-row class="buttons">
            <!--4.19.还不会写按钮的路由，就用了链接的方式，可能要改一下-->
            <el-button type="primary" plain icon="plus" @click="adding">新增</el-button>
            <el-button type="info" plain icon="edit">修改</el-button>
            <el-button type="danger" plain icon="delete">删除</el-button>
            <el-button type="success" plain icon="download">导出</el-button>
            <el-button size="large" icon="search" circle style="margin-left: auto;margin-right: 4rem;"/>
            <el-button size="large" icon="RefreshRight" circle style="margin-right: 4rem;"/>
        </el-row>
        <!--笔记列表-->
        <el-table 
            :header-cell-style="{textAlign:'center',color:'black'}"
            :cell-style="{textAlign:'center'}"
            class="noteList"
            ref="multipleTableRef"
            v-model:data="store.NoteLists.Notes" 
            style="width: 100%;" 
            @selection-change="handleSelectionChange"
        >
            <el-table-column type="selection" />
            <el-table-column prop="title" label="标题" />
            <el-table-column prop="region" label="分类" />
            <el-table-column prop="time" label="创建时间"/>
            <el-table-column prop="state" label="状态" >
                <template #default="scope">
                    <el-switch v-model="scope.row.state"/>
                </template>
            </el-table-column>
            <el-table-column label="操作">
                <template #default="scope">
                    <el-button size="small" text @click="handleEdit(scope.$index,scope.row)">
                    <el-icon><edit/></el-icon> 修改
                    </el-button>
                    <el-button size="small" text @click="handleDelete(scope.$index,scope.row)">
                    <el-icon><Delete/></el-icon> 删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <!--底部分页-->
        <el-pagination
            v-model:current-page="currentPage"
            v-model:page-size="pageSize"
            :small="small"
            :disabled="disabled"
            :background="background"
            layout="prev, pager, next, jumper"
            :total="1000"
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            />
    </el-col>    
</template>
<script setup>
    import {ArrowDown} from '@element-plus/icons-vue'
    import {ref} from 'vue'
    import { ElTable } from 'element-plus'
    import { ElMessage, ElMessageBox } from 'element-plus'
    import { useNoteStore } from "../stores/index"
    import { useRouter } from 'vue-router';

    
    const router = useRouter();
    const store =useNoteStore(); 

//搜索框的input1
    const input1 = ref('')
//添加文件的切换
    function adding(){
        router.push('/home/newNote')
    }
//表第一列的勾选框
    const multipleTableRef = ref()
    const multipleSelection = ref([])
    const handleSelectionChange = (val) => {
        multipleSelection.value = val
    }
    //编辑笔记
    const handleEdit=(index,row)=>{
        console.log(index,row)
    }
    //删除笔记
    const handleDelete=(index)=>{
    ElMessageBox.confirm(
    '请确认是否要删除此笔记',
    '提示',
    {
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning',
    }
  )
    .then(() => {
      ElMessage({
        type: 'success',
        message: 'Delete completed',
      });
      store.deleteNote(index)
    })
    .catch(() => {
      ElMessage({
        type: 'info',
        message: 'Delete canceled',
      })
    })
        
    }
//底部分页

    const currentPage = ref(1)
    const pageSize = ref(2)
    const small = ref(false)
    const background = ref(false)
    const disabled = ref(false)

    const handleSizeChange = (val) => {
    console.log(`${val} items per page`)
    }
    const handleCurrentChange = (val) => {
    console.log(`current page: ${val}`)
    }
</script>
<style scoped>

.headerNav{
    display: flex;
    flex-direction: row;
    height: 50px;
    border-width:1px 0px 1px 1px  solid ;
    border-color: #f5f5f5;
    border-style: solid;
}

.headerNav .el-dropdown-link {
    margin-top: -18px;
    margin-right: 10px;
    cursor: pointer;
    color: var(--el-color-primary);
    display: flex;
    align-items: center;
}
/**搜索框 */
.searchBoxWrap{
    margin-left: auto;
    margin-top: 3rem;
}
.searchInput{
    width:100%;
    margin: 2px;
}
.searchButton{
    margin: auto 0;
}
/**一排按钮 */
.buttons{
    display: flex;
    margin-top: 3rem;
    margin-left: 3rem;
    flex-wrap: nowrap;
}

/**笔记列表 */
.noteList{
    margin-top:3rem;
    margin-left: 1rem;
    margin-right: auto;
}
.el-table{
    padding-left: 0.5rem;
    padding-right: 1rem;
    margin-left: 0px;
}
.el-scrollbar__bar.is-horizontal{
   display: none !important;
}
.el-pagination{
    position:relative;
   justify-content: flex-end;
   padding-right: 6rem;
   padding-bottom: 2rem;
    margin-top: 2rem;
}
</style>