<template>
    <el-row class="formContainer">
        <el-col class="banner"><span>添加笔记</span></el-col>
        <el-col>
            <el-form>
                <el-form-item :rules="[
                        {
                        required: true,
                        message: 'Please input a title',
                        trigger: 'blur',
                        }
                    ]" label="标题">
                    <el-input v-model="form.title"/>
                </el-form-item>
                <el-form-item :rules="[
                        {
                        required: true,
                        message: 'Please select a class',
                        trigger: 'blur',
                        }
                    ]" label="分类">
                    <el-select  placeholder="please select the class" v-model="form.region">
                        <el-option v-for="(value,index) in store1.classLists.classes" :key="index"
                        :lable="value"
                        :value="value" />
                    </el-select>
                </el-form-item>
                
                <el-form-item label="状态" >
                    <el-radio-group v-model="visibility">
                        <el-radio label="显示" />
                        <el-radio label="隐藏" />
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="描述">
                    <el-input type="textarea" v-model="form.description" />
                </el-form-item>
                <el-form-item label="内容">
                    <el-input type="textarea" class="content" v-model="form.content"/>
                </el-form-item>
                <el-form-item class="buttonsContainer">
                    <el-button type="primary" @click="upNote">上传</el-button>
                    <router-link to="/home/mainPart"><el-button @click="cancelAdd">取消</el-button></router-link>
                </el-form-item>
            </el-form>
        </el-col>
    </el-row>
</template>
<script setup>
import { useNoteStore } from "../stores/index"
import { useCategoryStore } from "../stores/index"
import { reactive,ref } from "vue";
import { useRouter } from 'vue-router';

const store =useNoteStore(); 
const store1 =useCategoryStore();
const router = useRouter();
const visibility=ref('')
const form=reactive({
    title:'',
    region: '', 
    state:null,
    time:'',
    description:'',
    content:'',
})
function getTime(){
    let date=new Date;
    return date.getFullYear();
}
function upNote(){
    form.state=Boolean(visibility.value==='显示')
    form.time=getTime()
    store.NoteLists.Notes.unshift(form);
    // console.log(store.NoteLists.Notes);
    router.push('/home/mainPart')
}
</script>
<style>
.formContainer{
    width: 82%;
    padding-right: 5%;
    justify-content: center;
}
.banner{
    height: 50px;
    display: flex;
    align-items: center;
}
.banner span{
    display: flex;
}
.content .el-textarea__inner{
    min-height: 40vh !important;
}
.buttonsContainer .el-form-item__content{
    justify-content: end;
}
</style>