<template>
    <div class="background">
      <form action="#" class="register-form">
      <div class="register-form">
        <div class="form-head">用户注册</div>
        <div class="input-div">
          <el-icon color="#B9B9B9" class="image-id"><User /></el-icon>
          <input type="text" class="form-input" placeholder="账号" v-model="newUser.ID">
        </div>
        <div class="input-div" style="top:203px;" >
          <el-icon color="#B9B9B9" class="image-id"><Key /></el-icon>
          <input type="password" class="form-input" placeholder="密码" v-model="newUser.password">
        </div>
        <div class="input-div" style="top:291px;" >
          <el-icon color="#B9B9B9" class="image-id"><Key /></el-icon>
          <input type="password" class="form-input" placeholder="确认密码">
        </div>
        <button type="submit" class="button-register" @click="Register">注册</button>
      </div>
    </form></div>
</template>

<script setup>
    import {reactive} from 'vue'
    import { useRouter } from 'vue-router';
    import { ElMessage } from 'element-plus'

    const router = useRouter();
    const newUser=reactive({
        ID:'',
        password:'',
    })
    function Register(){
      if(1){
        ElMessage({
        message: '恭喜你，注册成功',
        type: 'success',
      })
        router.push('/')
      }
    }
</script>

<style scoped>
.background{
  height: 100vh; /* 让容器铺满整个视口 */
  background-image: url('../components/icons/background.jpg');
  background-size: cover;
  background-position: center;
}
.register-form{
  position:relative;
  left: 50%;
  top: 50%;
  transform: translate(-277px,-257px);
  width: 553px;
  height: 514px;
  line-height: 20px;
  border-radius: 17px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  border: 1px solid rgba(187, 187, 187, 1);
}
.register-form .form-head{
  position:absolute;
  left: 50%;
  top: 39px;
  transform: translate(-60px,0);
  width: 119px;
  height: 41px;
  color: rgba(166, 153, 153, 1);
  font-size: 28px;
  text-align: left;
  font-family: SourceHanSansSC-regular;
}
.input-div{
  position: absolute;
  left:50%;
  top:115px;
  transform: translate(-216px,0);
  width: 433px;
  height: 53px;
}
.image-id{
  position: absolute;
  left: 19px;
  top: 14px;
  width: 24px;
  height: 24px;
}
.form-input{
  width: 433px;
  height: 53px;
  padding-left: 48px;
  border-radius: 3px;
  color: rgba(193, 194, 197, 1);
  font-size: 20px;
  text-align: left;
  font-family: Roboto;
  border: 1px solid rgba(174, 175, 176, 1);
}
.form-input:focus{
  outline: none;
}

.button-register{
  position: absolute;
  left: 50%;
  top:394px;
  transform: translate(-216px,0);
  width: 433px;
  height: 53px;
  line-height: 29px;
  border-radius: 3px;
  background-color: rgba(56, 148, 255, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  text-align: center;
  font-family: Roboto;
  border: 1px solid rgba(56, 148, 255, 1);
  cursor: pointer;
} 
</style>