@import './base.css';

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    user-select: none;
    text-rendering: optimizeLegibility;
    list-style: none;
    box-sizing: border-box;
}


